

.homeContainer {
    background-image: linear-gradient(to right, #92f075, #1fbf76);
}

/* .homeContainer .homeVideoContainer {
    background-image: linear-gradient(to right, #92f075, #1fbf76);
}

.homeContainer .homeDescriptionContainer {
    background: #92f075
} */

    /* background-image: linear-gradient(to right, #92f075, #0b582c); */

/* .youtube-video-container {
    
} */

.youtube-video {
    display: block;
    margin: auto;
}